.containerFooter 
    footer.footer
        .logo__foot
            a(href='#')
            // da inserire larghezza quando si avrà logo
            img.logo__foot__img.footlogo(src='img/VINTLOVEDLOGO1.png')
            |  
            p.logo__nav__p
            | vintloved apre le porte del lusso
            .logo__nav__social
                a.facebook(href='https://www.facebook.com/vintlovedbags/')
                    svg.footer-icon
                    use(xlink:href='img/sprite.svg#icon-facebook2')
                a.instagram(href='https://www.instagram.com/vintlovedofficial/?hl=it')
                    svg.footer-icon
                    use(xlink:href='img/sprite.svg#icon-instagram')
                a.whatsapp(href='')
                    svg.footer-icon
                    use(xlink:href='img/sprite.svg#icon-whatsapp')
        nav.buy__foot
            span.foot__title acquista
            li.foot-li
            a.foot-li(href='') shop
            li.foot-li
            a.foot-li(href='') louis vuitton
            li.foot-li
            a.foot-li(href='')  gucci
            li.foot-li
            a.foot-li(href='') saint laurent
        |  
        nav.sell-nav
            span.foot__title vendi
            li.foot-li
            a.foot-li(href='') vendi a noi
            li.foot-li
            a.foot-li(href='') carriere
        nav.contactus
            span.foot__title contattaci
            li.foot-li
            a.foot-li(href='tel:+3895950910') +39 3895950910
            li.foot-li
            a.foot-li(href='mailto:info@vintloved.com')  info@vintloved.com
            li.foot-li
            a.foot-li(href='mailto:sales@vintloved.com')  sales@vintloved.com