.containerPreHeader
  .banner__payplan
    a.banner__payplan--logo.logo-instagram(href='https://www.instagram.com/vintlovedofficial/?hl=it')
      svg.instagram__icon
        use(xlink:href='img/sprite.svg#icon-instagramwhite')
    p.banner__payplan--text ACQUISTA IN COMODE RATE
    .trustpilot-widget(data-locale='it-IT' data-template-id='5419b6a8b0d04a076446a9ad' data-businessunit-id='6097f3d4ea5d8c0001a6ff7e' data-style-height='24px' data-style-width='100%' data-theme='dark' data-min-review-count='10')
      a(href='https://it.trustpilot.com/review/vintloved.com' target='_blank' rel='noopener') Trustpilot
  .logo
    nav.navigation__smart
      input#navi-toggle.navigation__checkbox(type='checkbox')
      label.navigation__button(for='navi-toggle')
        span.navigation__button__icon
    form.search(action='#')
      input.search__input(type='text', placeholder='SEARCH BAG')
      button.search__button
        svg.search__icon
          use(xlink:href='img/sprite.svg#icon-search')
    a(href='#')
      // da inserire larghezza quando si avrà logo
      img.logo__img(srcset='img/VINTLOVEDLOGO2x.png 2x, img/VINTLOVEDLOGO1.png 1x', sizes='', alt='vintloved logo', src='img/VINTLOVEDLOGO1.png 1x')
    .logo__signin-basket
      a.logo__signin-basket--signin(href='')
        svg.user__icon
          use(xlink:href='img/sprite.svg#icon-user')
        p.user__text REGISTRATI
      a.logo__signin-basket--basket(href='')
        svg.basket__icon
          use(xlink:href='img/sprite.svg#icon-cart')
        p.cart__text CARRELLO
  nav.nav
    ul.nav__list
      li.nav__li
        a.nav__link(href='/louisvuitton') louis vuitton
      li.nav__li
        a.nav__link(href='/shop') boutique
      li.nav__li
        a.nav__link(href='') blog
      li.nav__li
        a.nav__link(href='/authenticity') autenticità
      li.nav__li
        a.nav__link(href='') rateizzazioni
      li.nav__li
        a.nav__link(href='') contatti 
      a.button(href='')
        li.nav__li vendi a noi