extends base

block content
    .containerAuthenticity
        .navigation__nav.navItem
            ul.navigation__list__small-ul
            li.navigation__list__small
                a.navigation__list__small__link(href='#') louis vuitton
            li.navigation__list__small
                a.navigation__list__small__link(href='/shop') boutique
            li.navigation__list__small
                a.navigation__list__small__link(href='#') blog
            li.navigation__list__small
                a.navigation__list__small__link(href='#') check your code
            li.navigation__list__small
                a.navigation__list__small__link(href='#') contatti

        section.authenticity 
            h1.authenticH1 autenticità prima di tutto 
            h2.authenticH2 il nostro sistema "double check" garantisce l'autenticità del tuo articolo! 
            .stepAuthentic
             img.stepAuthentic__imgOne
             p.stepAuthentic__describeOne leggi il codice del tuo articolo sul certificato che ti abbiamo rilasciato al momento dell'acquisto
             img.stepAuthentic__imgTwo
             p.stepAuthentic__describeTwo inserisci il codice in questa pagina e premi il tasto verifica!
             img.stepAuthentic__imgThree
             p.stepAuthentic__describeThree confronta le immagini dell'articolo relativo a quel codice con l'articolo che hai per sapere se è proprio quello che ha venduto vintloved
             form.authenticityCode(action='#')
              input#authenticityCode__input(type='text', placeholder='Insert ID code')
              button.authenticityCode__button
                 svg.authenticityCode__icon
                     use(xlink:href='')

    





        
        